<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>FlaskBlog DEMO</title>
</head>
<body>
    <div class="container">
        <h1>DemoComm</h1>
        <h4>Modération de commentaires</h4>
        <section class="commentaires">
            <p>Le texte saisi est analysé par l'API <a href="https://azure.microsoft.com/fr-fr/services/cognitive-services/">Azure Cognitive Services</a> (recherche d'insultes, etc.). <br>
                Seuls les commentaires valides - sans mots inapropriés - sont stockés en base de données.<br>
                Un message de retour utilisateur est affiché.
                 
            </p>
        </section>
        <section class="commentaires">
            <h4>Derniers commentaires</h4>
            <ul>
            {% for item in data %}
                <li>{{item["comment"]}}</li>
            {% endfor %}
            </ul>
        </section>
        <form action="/comment/listmoderation" method="post">
            <textarea name="comment" id="the-textarea" maxlength="300" placeholder="Ecrivez votre commentaire"autofocus></textarea>
            <div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
        <section class="message">
            <p>{{ message }}</p>
        </section>
    </div>
</body>
</html>